<h2> Welcome, <%= @user.name %></h2>

<div class="container-fluid">
  <% if !@user.vendor.nil? %>
<<<<<<< HEAD
    <% if @user.vendor.status == "approved" %>
      <%= link_to "Edit Vendor Information", edit_vendor_path(@user.vendor), class: "btn btn-default" %>
      <%= link_to "Add Item to My Store", new_vendor_item_path(@user.vendor.slug), class: "btn btn-default" %>
      <%= link_to "See Orders", vendor_orders_path(@user.vendor.slug), class: "btn btn-default" %>
    <% elsif @user.vendor.status == "pending" %>
      <%= link_to "Edit Vendor Information", edit_vendor_path(@user.vendor), class: "btn btn-default" %>
      <br><br>
      <p>Your store is being reviewed. Please check back at a later time.</p>
    <% elsif @user.vendor.status == "rejected" %>
      <p> We are sorry, your store has been rejected. Contact an admin for more details. </p>
    <% end %>
  <% end %>

  <% if @user.orders.any? %>
    <%= link_to "Order History", orders_path, class: "btn btn-default" %>
=======
    <%= render partial: 'shared/business_owner' %>
  <% elsif %>
    <%= render partial: 'shared/no_business' %>
>>>>>>> 044a42996c2930cbc896192486727cd1be50d95b
  <% end %>
</div>
