<h2> Welcome, <%= @user.name %></h2>
<% if @user.super_admin? %>
  <%= link_to "Update Personal Account Information", edit_user_path(@user), class: "btn btn-default text-dark" %><br><br>
<% else %>
  <br><%= link_to "Update Personal Account Information", edit_user_path(@user), class: "btn btn-default text-dark" %>
<% end %>

<% if @user.vendor.nil? %>
  <%= link_to "Apply to be a Vendor", new_vendor_path%>
<% elsif @user.vendor.status == "approved" %>
  <%= link_to "Edit Vendor Information", edit_vendor_path(@user.vendor) %>
  <%= link_to "Add Item to My Store", new_vendor_item_path(@user.vendor.slug) %>
<% elsif @user.vendor.status == "pending" %>
  <p>Your store is being reviewed. Please check back at a later time.</p>
<% end %>

<% if @user.orders.any? %>
  <%= link_to "Order History", orders_path %>
<% end %>
