<div class="container">
  <div class="box">
    <h1>Order Details</h1>
    
    <div id="user-info">
      <p><%= @order.user.name %></p>
      <p>
        <%= "#{@order.user.address}" %>
        <%= "#{@order.user.city}, #{@order.user.state} #{@order.user.zip}" %>
      </p>
    </div>

    <table id="status">
      <tr>
        <td>Status:
        <% if @order.editable_status? && current_super_admin? %>
          <td><%= render partial: 'ordered_status' %></td>
        <% else  %>
          <%= @order.status %>
        <% end %></td>
      </tr>
    </table>

    <h4> Placed at: <%= @order.created_at %> </h2>
    <h4><%= @order.status.capitalize %> at: <%= @order.get_relevant_time %></h4>

    <%= render partial: "order_table" %>


    <div id="total">
      Total: $<%= @order.total_price %>
    </div>
  </div>
</div>
